dist: xenial
language: rust
before_script:
  - sudo apt update
  - sudo apt install libgtk-3-dev
#  - rustup component add rustfmt
script:
  #  - cargo fmt --all -- --check
  - cargo build
  - cargo test
