.title {
    font-weight: bold;
    font-size: xx-large;
}

.subtitle {
    font-weight: bold;
    font-size: medium;
}

.question-subsection {
  font-weight: bold;
  font-size: medium;
}

.question-subsubsection {
  font-weight: bold;
  font-size: medium;
}

.question-id {
  font-weight: bold;
}

.question-text {
  font-weight: bold;
}

button.red {
    background-image: none;
    background-color: #fcd1d1;
}

button.yellow {
    background-image: none;
    background-color: #ffe7b7;
}

button.green {
    background-image: none;
    background-color: #d7ddad;
}
