.title {
    font-weight: bold;
    font-size: xx-large;
}

.subtitle {
    font-weight: bold;
    font-size: medium;
}

button.red {
    background-image: none;
    background-color: #fcd1d1;
}

button.yellow {
    background-image: none;
    background-color: #ffe7b7;
}

button.green {
    background-image: none;
    background-color: #eeffb7;
}
